body{
	width: 80%;
	left: 10%;
	position: relative;
	background-color: var(--jOffWhite);
	text-align: center;
}

h2{
	color: var(--jSlateBlue);
	text-align: center;
	font-family: "Heebo";
	font-weight: 700;
}
h3{
	font-family: "Heebo";
	font-weight: 400;
	text-decoration: underline;
	color: var(--jSlateBlue);
}
p{
	font-family: "EB Garamond";
}
.subHeading{
	font-style: italic;
}
/*header*/	
	h1, h4{
		text-align: center;
		font-family: "Heebo";
		font-weight: 700;
	}

	header{
		flex-basis: 100%;
	
		height: 120px;
		padding: 2px;
		box-sizing: border-box;
		margin-bottom: 0px;
	}

	#headLink{
		text-decoration: none;
		color: var(--jSlateBlue);

	}
	#headLink:hover{
		color: var(--jLightBlue);
	}

	#subHeading{
		text-align: center;
		letter-spacing: 0.1em;
	}

.bigImgBox{
	width: 180px;
	height: auto;
	border-radius: 10px 0 10px 0;
	margin-bottom: 10px;
}

.weeImgBox{
	width: 160px;
	height: auto;
	border-radius: 0 10px 0 10px;
	margin-bottom: 10px;
}

/*nav*/
	nav{
		height: 44px;
		background-color: var(--jLightBlue);
		margin-top: 0px;
		border-radius: 20px 0 20px 0;
		position: sticky;
		top: 0;
	}
	ul{
		margin-top: 10px;
		text-align: center;
	}

	li{
		margin-top: 10px;
		display: inline-block;
		
	}

	a.primaryNav, a.secondaryNav{
		color: var(--jSlateBlue);
		text-decoration: none;
		font-family: "Heebo";
		position: relative;
		height: 24px;
		padding: 0 10px;
		box-sizing: border-box;
		background-color: hsl(205, 10%, 80%);
		margin: 0 5px;
		display: inline-block;
		/*border: 1px solid black;*/
	}

	a.primaryNav{
		font-weight: 400;
	}
	a.secondaryNav{
		font-weight: 300;
	}

	a.primaryNav::before, a.secondaryNav::before, a.primaryNav::after, a.secondaryNav::after{
		content: "";
		position: absolute;
		border-width: 12px 10px;
		border-color: hsl(205, 10%, 80%);
		border-style: solid;
		top: 0;
	}

	a.primaryNav::before, a.secondaryNav::before{
		left: -10px;
		border-left-color: transparent;
	}	

	a.primaryNav::after, a.secondaryNav::after{
		left: 100%;
		border-color: transparent;
		border-left-color: hsl(205, 10%, 80%);
	}

	a.primaryNav:hover, a.secondaryNav:hover{
		color: var(--jLightBlue);
	}

/*Glasgow Grid*/

	#ggGlasgowGrid, #hhStirlingBox{
		display: grid;
		min-height: 700px;
		grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
		gap: 10px;
	}

	.gggBox, .hhSBox{
		padding: 0 40px;
		}

	.gggBox{
		/*border: 1px solid var(--jLightBlue);*/
		border-radius: 20px 0 20px 0;
		}

		.one{
			grid-area: 1 / 1 / span 2 / span 2;
			background-color: var(--jOfferWhite);
		}

		.two{
			grid-area: 1 / 3 / span 2 / 4;
			background-color: var(--jGrey);
		}

		.three{
			background-color: var(--jGrey);
		}

		.four{
			grid-area: 3 / 2 / 4 / span 2;
			background-color: var(--jOfferWhite);
		}

		.five{
			grid-column: 1 / span 3; 
			background-color: var(--jOfferWhite);
			padding: 0 100px;
		}

	.hhSBox{
		/*border: 1px dashed var(--jSlateBlue);*/
		border-radius: 0 20px 0 20px; 
		}

		.a{
			grid-column: 1 / span 3;
			padding: 0 100px;
			background-color: var(--jOfferWhite);
		}
		.b{
			grid-column: 1 / span 2;
			background-color: var(--jOfferWhite);
		}
		.c{
			background-color: var(--jGrey);
		}
		.d{
			grid-row: 3 / span 2;
			background-color: var(--jGrey);
		}
		.e{
			grid-area: 3 / 2 / span 2 / span 2;
			background-color: var(--jOfferWhite);
		}


#codeDates{
	margin-top: 20px;
	padding: 5px 20%;
	background-image: linear-gradient(to right, var(--jOfferWhite), var(--jGrey));
	border-radius: 20px 0 20px 0;
}

/*neil*/
	#neilGrid{
		display: grid;
		min-height: 300px;
		grid-template: 2fr 1fr / 1fr 1fr 1fr;
		gap: 10px;
		margin-bottom: 20px;
	}

	.nGBox{
		/*border: 1px solid black;*/
		border-radius: 25px 0 25px 0;
	}

	.nOne{
		grid-area: 1 / 1 / span 1 / span 1;
		padding: 30px;
		background-color: var(--jOfferWhite);
	}

	.nTwo{
		grid-area: 1 / 2 / span 1 / span 2;
		background-color: var(--jGrey);
	}
	.nThree{
		background-color: var(--jGrey);
	}

	.nFour{
		grid-area: 2 / 3 / span 1 / span 1;
		background-color: var(--jOfferWhite);
	}



/*table*/
	th, td{
		font-family: "EB Garamond";
	}


/*buttons*/
	.button{
		box-sizing: border-box;
		width: 200px;
		height: 50px;
		background-color: lightblue;
		color: #111;
		text-align: center;
		text-decoration: none;
		box-shadow: 3px 3px 3px #111;
		position: relative;
		display: inline-block;
		padding-top: 16px;
		font-family: "Heebo";
		font-weight: 300;
	}
	.button:hover{
		color: white;
	}
	.button:active{
		box-shadow: 0px 0px;
		margin-top: 6px;
		margin-left: 6px;
		transition: box-shadow 0.25s;
		transition: margin-top 0.25s;
		transition: margin-left 0.25s;
		position: relative;
	}

footer{
	position: relative;
	text-align: center;
	box-sizing: border-box;
	padding: 50px;
	background-color: var(--jSlateBlue);
	color: var(--jOffWhite);
	border-radius: 20px 0 20px 0;
}

/*Color setup*/
	:root{
		--jLightBlue:hsl(205, 65%, 65%);
		--jSlateBlue:hsl(205, 70%, 20%);
		--jOffWhite:hsl(205, 70%, 97%);
		--jOfferWhite:hsl(205, 70%, 90%);
		--jGrey:hsl(205, 40%, 90%);
	}

/*Font setup*/
	/*Garamond (serif)*/
		@font-face {
	  font-family: 'EB Garamond';
	  font-style: italic;
	  font-weight: 400;
	  font-display: swap;
	  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGWmQSNjdsmc35JDF1K5GRweDs1ZyHKpWg.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		@font-face {
	  font-family: 'EB Garamond';
	  font-style: italic;
	  font-weight: 700;
	  font-display: swap;
	  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGWmQSNjdsmc35JDF1K5GRweDs1ZyHKpWg.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		@font-face {
	  font-family: 'EB Garamond';
	  font-style: normal;
	  font-weight: 400;
	  font-display: swap;
	  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR1SDk_YAPI.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		@font-face {
	  font-family: 'EB Garamond';
	  font-style: normal;
	  font-weight: 700;
	  font-display: swap;
	  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGUmQSNjdsmc35JDF1K5GR1SDk_YAPI.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	/*Heebo (sans-serif)*/
		@font-face {
		  font-family: 'Heebo';
		  font-style: normal;
		  font-weight: 300;
		  font-display: swap;
		  src: url(https://fonts.gstatic.com/s/heebo/v21/NGS6v5_NC0k9P9H2TbFhsqMA.woff2) format('woff2');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		@font-face {
		  font-family: 'Heebo';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url(https://fonts.gstatic.com/s/heebo/v21/NGS6v5_NC0k9P9H2TbFhsqMA.woff2) format('woff2');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		@font-face {
		  font-family: 'Heebo';
		  font-style: normal;
		  font-weight: 700;
		  font-display: swap;
		  src: url(https://fonts.gstatic.com/s/heebo/v21/NGS6v5_NC0k9P9H2TbFhsqMA.woff2) format('woff2');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}